<div class="conter-wrapper" ng-controller="AmountLoadUploadCtrl">
    <div class="row">
        <div class="col-md-12">
            <growl-notifications>
                <growl-notification class="growl-success fading" ng-if="success"  >Upload Successful
                    <a href="javascript:;" ng-click="$growlNotification.remove()" class="close"><i class="fa fa-times"></i></a>
                </growl-notification>

                <growl-notification class="growl-error fading" ng-if="failure"> {{message}}
                    <a href="javascript:;" ng-click="$growlNotification.remove()" class="close"><i class="fa fa-times"></i></a>
                </growl-notification>
            </growl-notifications>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Amount Load Upload
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a>
                            <a class="panelButton"><i class="fa fa-minus"></i></a>
                            <a class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <input type="file" name="file" file-model="myFile" id="file"/>
                    <button ng-click="uploadFile()" class="btn btn-primary">
                        Upload
                    </button>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Upload History
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a>
                            <a class="panelButton"><i class="fa fa-minus"></i></a>
                            <a class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>Import File</th>
                            <th>Success File</th>
                            <th>Failure File</th>
                            <th>Uploaded By</th>
                            <th>Upload Time</th>
                            <th>Verified By</th>
                            <th>Verified Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="parentMakerLoadRequest in parentMakerLoadRequests">
                       		<td>{{($index + 1) + ((currentPage - 1)*maxSize)}}</td>
                       		<td style="display:none">{{parentMakerLoadRequest.id}}</td>
                            <td>{{ parentMakerLoadRequest.totalLoadAmount}}</a></td>
                            <td>{{parentMakerLoadRequest.requestStatus}}</td>
                            <td><a ng-href="services/getFile/{{parentMakerLoadRequest.id}}/IMPORT">Download</a></td>
                            <td><a ng-href="services/getFile/{{parentMakerLoadRequest.id}}/SUCCESS">Download</a></td>
                            <td><a ng-href="services/getFile/{{parentMakerLoadRequest.id}}/ERROR">Download</a></td>
                            <td>{{parentMakerLoadRequest.creator}}</td>
                            <td>{{parentMakerLoadRequest.created  | date:'medium'}}</td>
                            <td>{{parentMakerLoadRequest.changer}}</td>
                            <td>{{parentMakerLoadRequest.changed  | date:'medium'}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination
                            ng-model="currentPage"
                            total-items="totalElements"
                            max-size="maxSize"
                            boundary-links="true">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>