<div class="conter-wrapper" ng-controller="UserUploadCtrl">
    <div class="row">
        <div class="col-md-12">
            <growl-notifications>
                <growl-notification class="growl-success fading" ng-if="success"  >Upload Successful
                    <a href="javascript:;" ng-click="$growlNotification.remove()" class="close"><i class="fa fa-times"></i></a>
                </growl-notification>

                <growl-notification class="growl-error fading" ng-if="failure"> {{message}}
                    <a href="javascript:;" ng-click="$growlNotification.remove()" class="close"><i class="fa fa-times"></i></a>
                </growl-notification>
            </growl-notifications>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Upload
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a>
                            <a class="panelButton"><i class="fa fa-minus"></i></a>
                            <a class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <input type="file" name="file" file-model="myFile" id="file"/>
                    <button ng-click="uploadFile()" class="btn btn-primary">
                        Upload
                    </button>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Upload History
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a>
                            <a class="panelButton"><i class="fa fa-minus"></i></a>
                            <a class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Total Rows</th>
                            <th>Rows Processed</th>
                            <th>Error Count</th>
                            <th>Uploaded On</th>
                            <th>Failure File</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="upload in uploadList">
                            <td><a ng-href="services/getFile?filePath={{upload.filePath}}">{{upload.uploadedFileName}}</a></td>
                            <td>{{upload.totalRows}}</td>
                            <td>{{upload.totalRowsProcessed}}</td>
                            <td>{{upload.erroredRows}}</td>
                            <td ng-bind="upload.created | date:'MM/dd/yyyy @ h:mma'"></td>
                            <td><a ng-href="services/getFile?filePath={{upload.errorFilePath}}">Error File</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination
                            ng-model="currentPage"
                            total-items="totalElements"
                            max-size="maxSize"
                            boundary-links="true">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>