<div class="conter-wrapper" ng-controller="GetBalanceCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                       Get Balance
                        <div class="panel-control pull-right">
                            <a class="panelButton"><i class="fa fa-refresh"></i></a> <a
                                class="panelButton"><i class="fa fa-minus"></i></a> <a
                                class="panelButton"><i class="fa fa-remove"></i></a>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" ng-submit="submit()">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="entityId"
                                       id="entityId"
                                       placeholder="Customer Entity Id" ng-
                                       required="true">
                            </div>
                            <div class=" col-sm-6">
                                <button type="submit" class="btn btn-primary ">Submit</button>
                            </div>
                        </div>
                        <hr>
                    </form>
                    <div class="form-group">
                        <div class="col-sm-6">
                            Balance : {{balance}}
                        </div>
                    </div>
                    <growl-notifications>
                        <growl-notification class="growl-success fading" ng-if="success">{{message}}
                            <a href="javascript:;" ng-click="$growlNotification.remove()" class="close"><i
                                    class="fa fa-times"></i></a>
                        </growl-notification>

                        <growl-notification class="growl-error fading" ng-if="failure"> {{message}}
                            <a href="javascript:;" ng-click="$growlNotification.remove()" class="close"><i
                                    class="fa fa-times"></i></a>
                        </growl-notification>
                    </growl-notifications>
                </div>
            </div>
        </div>
    </div>
</div>
